/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Inter, sans-serif;
    background-color: #7a7adb;
    background-image: linear-gradient(277deg, #602f60 0%, #170e13 74%);
    color: white;
    min-height: 100vh;
  }
  
  header,
  main,
  footer {
    padding: 12px;
  }
  
  main,
  footer {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  header a,
  footer a {
    text-decoration: none;
    color: inherit;
  }
  
  /*
      MARK: Header
  */
  
  header {
    justify-content: space-between;
  }
  
  header .icon {
    width: 20px;
  }
  
  header nav {
    gap: 12px;
  }
  
  @media screen and (max-width: 650px) {
    header p {
      display: none;
    }
  }
  
  /*
      MARK: Main
  */
  main {
    justify-content: space-between;
  }
  
  /* Left  */
  .left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  
  .left svg {
    height: 30px;
    color: white;
  }
  
  .left h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
  }
  
  .left .gradient {
    background: radial-gradient(
      circle at top left,
      #099ef1 0%,
      #6863f8 18.82%,
      #d84ffa 32.6%,
      #f058c5 52.83%,
      #ff4f90 68.03%,
      #ff6558 87.66%,
      #ff891f 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .left p {
    font-size: 20px;
    font-weight: 500;
  }
  
  .left button {
    padding: 10px 20px;
    font-size: 20px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Right */
  .right {
    flex-basis: 60%;
  }
  
  .right video {
    width: 100%;
  }
  
  @media screen and (max-width: 650px) {
    main {
      flex-direction: column;
      gap: 40px;
    }
    .left {
      text-align: center;
      align-items: center;
    }
    .left,
    .right {
      flex-basis: 100%;
    }
  }
  
  /* 
      MARK: Footer 
  */
  footer {
    border-top: 1px solid rgba(255, 255, 255, 0.086);
  }
  
  /* 
      MARK: Utility 
  */
  .flex {
    display: flex;
  }